<div class="container" *ngIf="project">
    <div class="image" *ngIf="project.image">
        <img src="{{url+ 'get-image/' +project.image}}">
    </div>

    <div class="data">
        <h1>{{ project.name }}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
    
        <p *ngIf="confirm == false">
            <a [routerLink]="['/editar-proyecto', project._id]"class="btn-edit">Editar</a>
            <a (click)="setConfirm(true)" class="btn-delete">Borrar</a>
        </p>

        <p *ngIf="confirm == true">
            <span class="confirm">¿Estas seguro que Quieres Borrar este Proyecto?</span>
            <br>
            <a (click)="setConfirm(false)" class="btn-edit">Cancelar</a>
            <a (click)="deleteProject(project._id)" class="btn-delete">Eliminar Definitivamente</a>
        </p>
    </div>
</div>
