<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p> {{ email }}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue hendrerit luctus. Donec a volutpat diam, at pharetra massa. Maecenas placerat ipsum ut nulla blandit, vel placerat augue facilisis. Nulla in nunc vitae lectus accumsan feugiat maximus ut nisi. Suspendisse ante ex, ornare eu nunc id, euismod suscipit eros. Duis ornare nibh augue, eu auctor urna aliquam eu. Morbi convallis urna velit, eget rutrum ipsum congue vitae. Nulla facilisi. Proin a cursus nisi. Quisque semper convallis urna, id gravida ante rutrum sit amet. In hac habitasse platea dictumst. Curabitur non bibendum quam. Ut eget pretium libero. Proin aliquet, dui sed tristique sagittis, libero magna ornare purus, sed scelerisque metus ante eu nulla. Morbi vehicula nisl quis sollicitudin convallis.

        Proin lobortis, orci quis gravida tristique, eros orci euismod nisl, sit amet consequat diam augue at dui. In mollis dignissim turpis in euismod. Proin accumsan felis ut ipsum porttitor consequat. Nullam vitae mattis metus. Duis sed enim vel tellus eleifend tempor. In bibendum aliquet tincidunt. Ut consequat dolor et efficitur auctor. Duis magna enim, interdum eu sapien in, interdum molestie ipsum. Etiam pretium dolor arcu, vel pretium mauris scelerisque eget
    </p>
</article>
